{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    {% for field, errors in user_form.errors.items %}
    {% for error in errors %} 
    <li style="color: red;"">{{ error }}</li>
    {% endfor %}
    {% endfor %}
    {% if msg %}
    <li style="color: red;"">{{ msg }}</li>
    {% endif %}

    <div class="title">Registration</div>
    <div class="content">
      <form method= POST>
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            {{user_form.first_name}}
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            {{user_form.last_name}}
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            {{user_form.username}}
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            {{user_form.password}}
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            {{user_form.email}}
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            {{user_form.phone_number}}
          </div>
          <div class="input-box">
            <span class="details">Birth Date</span>
            {{user_form.birth_date}}
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            {{user_form.confirm_password}}
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>